.App {
  padding: 0rem 10vw;
  color: #7A7A7A;
  font-family: Avenir;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    .App {
      padding: 0rem 1rem;
    }

}

p {
  font-size: 1.125rem;
}

h1.section {
  color: #075F9D;
  font-size: 2rem;
  margin-bottom: 5%!important;
}

/*
 * Color scheme
 */

 .blue-color {
  color:#075F9D;
}

.highlight {
  color: #FFAC50;
  font-weight: bold;
}


/*
 * Buttons
 */

 .btn-outline-primary {
  border-color: #075F9D;
  color: #075F9D;
}

.btn-outline-primary:hover {
  border-color: #075F9D;
  background-color: #075F9D;
  color: white;
}

/*
 * Navbar
 */

 .nav {
  top: 0px;
  width: 100%;
  height: 150px;
  z-index: 1000;
}

.nav .nav-content {
  max-width: 900px;
  padding: 0rem 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-items {
  position: absolute;
}

.nav-item {
  display: inline;
  margin-left: 2rem;
}

.nav-item:hover {
  color: black;
  cursor: pointer;
}

/*
 * Home section
 */

#home{
  margin: 20vh 0 30vh 0;
}

#hi-there {
  font-size: 1.75rem;
  margin: 0;
}

#name {
  font-size: 3.25rem;
  font-weight: bold;
  display: block;
  margin-bottom: 5%;
}

#contact-me-btn {
  margin-top: 3%;
}

/*
 * About section
 */

#about{
  margin: 20vh 0 30vh 0;
}

.tech-stack-list {
  list-style-type: none;
  padding: 0;
  font-size: 1.125rem;
}

.tech-stack-list li {
  padding-bottom: 2vh;
}

.tech-stack-list svg {
  margin-right: 3%;
}