.App {
  padding: 0rem 4rem;
  color: #7A7A7A;
}

h1 {
  color: #075F9D;
}

.App-logo {
  height: 80vmin;
  pointer-events: none;
}

.highlight {
  color: #FFAC50;
  font-weight: bold;
}

.nav {
  top: 0px;
  width: 100%;
  height: 80px;
  z-index: 1000;
}

.nav .nav-content {
  max-width: 900px;
  padding: 0rem 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-item {
  display: inline;
  margin-left: 2rem;
}

.nav-item:hover {
  color: black;
  cursor: pointer;
}